<main id="main">

  <section class="section pb-5">
    <div class="container">
      <div class="row mb-5 align-items-end">
        <div class="col-md-6" data-aos="fade-up">

          <h2>About Me</h2>
          <p class="mb-0">I am an IT project manager & Software developer
            with holistic knowledge of web-application design and development.
            I am also experienced in sharing knowledge on tech concepts.</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
          <h3 class="h3 mb-4">Skills</h3>
          <ul class="list-unstyled">
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Web Design</strong>
                <span class="ml-auto">80%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Photoshop</strong>
                <span class="ml-auto">96%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>HTML5/CSS3</strong>
                <span class="ml-auto">99%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>UI/UX</strong>
                <span class="ml-auto">87%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Angular</strong>
                <span class="ml-auto">75%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>React</strong>
                <span class="ml-auto">75%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Web Development</strong>
                <span class="ml-auto">75%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Python</strong>
                <span class="ml-auto">75%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Java</strong>
                <span class="ml-auto">50%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Django</strong>
                <span class="ml-auto">60%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>AWS</strong>
                <span class="ml-auto">50%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Google Cloud</strong>
                <span class="ml-auto">50%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>GitHub</strong>
                <span class="ml-auto">80%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Docker - Beginner</strong>
                <span class="ml-auto">25%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Android</strong>
                <span class="ml-auto">50%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>Mobile App Development</strong>
                <span class="ml-auto">50%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>MERN/MEAN</strong>
                <span class="ml-auto">65%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
            <li class="mb-3">
              <div class="d-flex mb-1">
                <strong>PHP</strong>
                <span class="ml-auto">65%</span>
              </div>
              <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
          <p><img src="assets/img/person_main.JPG" alt="Image" class="img-fluid"></p>
          <p>I have worked for many clients those serve various sectors in the market. 
             Worked on strategies of developement and product launch, that are best in 
             the market practices. Learning new things and building ideas is my leisure pursuit.
          </p>
          <p>I had done my Internship at <b>ISRO - NRSC</b> about six months as <b>Application Developer</b>.
            The work is totally on Python and a tool that can facilitate data sets with analysis of areal
            images direct from the uplink of a satellite. I worked on generating Data based on the uplink
            and referred old datasets and match the data formate to present geolocation coordinates.</p>
          <p>After my Internship, I started to working on <b>AR - Augmented Realiaty</b> & through there, I
            accompanied my Tech Club to work on the same technology. There we found a company to fund our
            work and We finally started an <b>R&D for Indian Servers </b>.</p>
          <p>I still managed to complete my final year project on <b>Augmented Realiaty</b> and joined
            Indian Servers as an R&D Head and Product Development Engineer.</p>
          <p>In 2020, I joined in <b>Sky Goal INC,</b> as <b>Principal Software Engineer</b> and started to
            work on few products inside the company and took charge as the <b>CTO</b> of the company. Managed
            many tasks and new programs over there...... <br>Want to know about my work there then ping me through my
            cv.
          </p>
          <p>In 2021, I published a <b>research paper,</b> on <b>DESIGN AND ANALYSIS OF SMART WANDERER AUTONOMOUS
            PIPELINE INSPECTION ROBOT</b> a working model design research of an autonomous robot for inspecting underground pipelines...  <br>Find my research work down below..
          </p>
          <p><a href="assets/cv/Resume.pdf" class="readmore" download>Download my CV</a> &nbsp; <a href="assets/cv/32-1-163.pdf" class="readmore" download>Download my paper</a></p>
        </div>

      </div>

    </div>

  </section>

</main><!-- End #main -->
