<main id="main">

    <section class="section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">

            <h2>My Services</h2>
            <p>I work on User Experience in detail wether the brand is small or big. I believe that technology is a tool to enable people to learn, 
              innovate, and perform their best.</p>

          </div>

        </div>
      </div>

      <div class="site-section pb-0 services">
        <div class="container">

          <div class="row">

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-card-checklist"></i>
              <h4 class="h4 mb-2">Web Design</h4>
              <p>I develop comprehensive website design with all the latest trends 
                and technologies. I survey variety of resources that can support your 
                business; whether you are trying to design a website for a start-up or looking 
                to build a company website from scratch, then I am the right choice for you.</p>
              <ul class="list-unstyled list-line">
                <li>Desiging the Wireframes</li>
                <li>Analyzing Client Story</li>
                <li>Existing Design patterns</li>
                <li>Logo Patterns & Style</li>
                <li>Final Design render.</li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-app"></i>
              <h4 class="h4 mb-2">Mobile Applications</h4>
              <p>I use solutions like utilizing libraries, e.g. React Native or Flutter 
                which advances up the method of developing and assisting to run on both platforms. 
                This environment helps to concentrate on UI, that can give much more meaning for the work
                on the apps and this boosts up our knowledge and strengths</p>
              <ul class="list-unstyled list-line">
                <li>Client's Target audience.</li>
                <li>Designing user frendly UI.</li>
                <li>Developing core features.</li>
                <li>Understanding user's view.</li>
                <li>Provide optimize solution.</li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <i class="bi bi-brightness-high"></i>
              <h4 class="h4 mb-2">Graphic Design</h4>
              <p>A distinctive design is a way to elaborate your products and services in a unique way. Consequently, I design your brand that standout in market with unique concept.</p>
              <ul class="list-unstyled list-line">
                <li>Product branding and design</li>
                <li>Logo Design</li>
                <li>Social Media Banners</li>
                <li>Status, Post, Cover image</li>
                <li>Digital Marketing Images</li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-columns-gap"></i>
              <h4 class="h4 mb-2">WebApps</h4>
              <p>I provide the effective Web Development Services for the clients. Reliability and Flexibility are 
                the main concepts are implemented at development of applications.</p>
              <ul class="list-unstyled list-line">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Non pariatur nisi</li>
                <li>Magnam soluta quod</li>
                <li>Lorem ipsum dolor</li>
                <li>Cumque quae aliquam</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Jean Hicks</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="assets/img/person_2.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis
                      explicabo inventore.</p>
                  </blockquote>
                  <p>&mdash; Chris Stanworth</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->